.row > *{
    margin-right: 20px !important;
}

.playlist-content {
    &:hover {
        background-color: rgba(204, 204, 204,0.3);
    }
    cursor: pointer;
}

.playlist-item {
    margin: 0 5px;
    display: flex;
}

.highlight-item {
    background-color: #d4e9ee
}
